@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Space+Mono&display=swap');

/*custom properties*/

:root {
    --main-primary: #242424;
    --main-secondary: #929292;
    --text-primary: #6c6c6c;
    --text-secondary: #d7d7d7;
    --details-color: #243970;

    --white: rgb(255, 255, 255);
}

/* Resetting default styles for all elements */

* {
    margin: 0;
    padding: 0;
    border: none;
}


html {
    /*background image*/
    background: url(../images/background/bg.jpg) no-repeat center bottom fixed;
    background-size: cover;
}

body {
    font-weight: 400;
    font-family: 'Space Mono', sans-serif;
    color: var(--main-primary);
}


/* headings */

h1,
h2 {
    font-family: 'Courier Prime', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

header {
    text-align: center;
    color: var(--text-secondary);
    background-color: var(--main-primary);
    max-width: 1100px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
}


/* Styles for the game statistics section of the game board */

.game-stats {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    justify-content: space-between;
}

#game-stats-bottom {
    width: 1100px;
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Styles for the game buttons */

button {
    cursor: pointer;
    color: var(--main-primary);
    font-weight: bold;
    background-color: var(--text-secondary);
    font-family: 'Courier Prime', sans-serif;
    font-size: 120%;
    border: 3px solid var(--details-color);
    border-radius: 10px;
    box-shadow: 10px 10px 20px var(--details-color);
    padding: 5px;
    margin: 10px 10px 0 10px;
    transition: background-color 0.3s ease-in-out;
    max-height: 2.7rem;
}

button:hover {
    background-color: var(--main-secondary);
}

#play-game {
    font-size: 150%;
    color: var(--text-secondary);
    background-color: var(--main-primary);
    border: 3px solid var(--details-color);
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 10px;
}

#play-game:hover {
    background-color: var(--text-secondary);
    color: var(--main-primary);
}


/* game board */

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;

}

.board>* {
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 4%;
}


/* cards */

.card-back {
    background-image: url(../images/cards/card-back.png);
    background-position: center;
    background-size: cover;
    border: 3px outset var(--main-secondary);
}

.card-back h2 {
    margin: 5px 5px;
    color: black;
    font-size: 90%;
}

.card-back:hover {
    transform: scale(1.05);
    transition: 100ms ease-in-out 0s;
}

.taurus {
    background-image: url(../images/cards/taurus.jpg);
    background-position: center;
    background-size: cover;
}

.aries {
    background-image: url(../images/cards/aries.jpg);
    background-position: center;
    background-size: cover;
}

.gemini {
    background-image: url(../images/cards/gemini.jpg);
    background-position: center;
    background-size: cover;
}

.cancer {
    background-image: url(../images/cards/cancer.jpg);
    background-position: center;
    background-size: cover;
}

.leo {
    background-image: url(../images/cards/leo.jpg);
    background-position: center;
    background-size: cover;
}

.virgo {
    background-image: url(../images/cards/virgo.jpg);
    background-position: center;
    background-size: cover;
}

.pisces {
    background-image: url(../images/cards/pisces.jpg);
    background-position: center;
    background-size: cover;
}

.scorpio {
    background-image: url(../images/cards/scorpio.jpg);
    background-position: center;
    background-size: cover;
}

.capricorn {
    background-image: url(../images/cards/capricorn.jpg);
    background-position: center;
    background-size: cover;
}

.aquarius {
    background-image: url(../images/cards/aquarius.jpg);
    background-position: center;
    background-size: cover
}

.sagitarius {
    background-image: url(../images/cards/sagitarius.jpg);
    background-position: center;
    background-size: cover;
}

.libra {
    background-image: url(../images/cards/libra.jpg);
    background-position: center;
    background-size: cover;
}


/* modal window */

.modal {
    background-color: rgb(0, 0, 0, 0.5);
    color: var(--text-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    overflow: scroll
}

.content-modal {
    margin: 0 auto;
    margin-top: 3%;
    max-width: 600px;
    background-color: var(--text-secondary);
    border-radius: 5px;
    text-align: center;
    color: var(--main-primary);
}

.content-modal-const {
    margin: 0 auto;
    margin-top: 1%;
    max-width: 800px;
    background-color: var(--text-secondary);
    border-radius: 5px;
    text-align: center;
    color: var(--main-primary);
}

.content-modal-win {
    margin: 0 auto;
    margin-top: 200px;
    color: var(--main-primary);
    max-width: 400px;
    background-color: var(--text-secondary);
    border-radius: 5px;
    text-align: center;
}

#final {
    font-size: 200%;
    color: var(--details-color);
    margin-bottom: 10px;

}

#score-points {
    font-weight: bold;
    font-size: 120%;
}

.head-modal {
    padding: 5px 0px 10px 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
}

.head-modal .modal-close-window {
    color: var(--main-primary);
    font-weight: bold;
    font-size: 120%;
    padding: 2%;
    cursor: pointer;
    background-color: var(--main-secondary);
}

.modal-text>h2 {
    margin-bottom: 10px;
    margin: 10px 30px 10px 30px;
    color: var(--details-color);
    border: solid;
    font-weight: bold;
    font-size: 110%;
}

.modal-text>p {
    margin: 10px 40px 10px 40px;
    font-size: 90%;
}

.modal-text ul {
    margin: 0px 40px 10px 40px;
    list-style: none;
    text-align: left;
    padding: 10px;
    font-size: 90%;
}

.modal-text i {
    color: var(--details-color);
}

.modal-text {
    padding: 5px;
}

.modal-text img {
    width: 90%;
    margin: 10px;
}

#modal-tit {
    font-size: 120%;
    color: var(--details-color);
    font-weight: bold;
    margin-bottom: 10px;
}


/* Footer */

footer p {
    font-size: 80%;
    text-align: center;
    color: var(--main-secondary);
    background-color: var(--main-primary);
    max-width: 1108px;
    margin: auto;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Media queries */

/* On screens that are 1000px*/

@media screen and (max-width: 1000px) {

    html {
        /*background image*/
        background: url(../images/background/bg-small.jpg) no-repeat center bottom fixed;
        background-size: cover;
    }

    .content-modal {
        margin: 0 auto;
        margin-top: 30%;
    }
}

/* On screens that are 600px or less*/

@media screen and (max-width: 600px) {

    html {
        /*background image*/
        background: url(../images/background/bg-small.jpg) no-repeat center bottom fixed;
        background-size: cover;
    }

    .board>* {
        width: 87px;
        height: 87px;
        margin: 3px;
    }

    .card-back h2 {
        margin: 5px 5px;
        color: black;
        font-size: 65%;
    }

    #logo {
        width: 200px;
    }

    .game-stats,
    header,
    button {
        font-size: 90%;
    }


    .modal {
        font-size: 80%;
    }
}

/* On screens that are 393px or less*/

@media screen and (max-width: 393px) {

    .board>* {
        width: 80px;
        height: 80px;
        margin: 2px;
    }
}