
/*custom properties*/

:root {
    --main-primary: #242424;
    --main-secondary: #929292;
    --text-primary: #6c6c6c;
    --text-secondary: #d7d7d7;
    --white: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

